<div class="blue">
<form action="/auth/profile?_method=PUT" method="POST">
    <label for="user_name" class="muted">Your Name:</label>
    <input type="text" name="user_name" id="user_name" class="form-control" value="<%=data.user.user_name%>">
    <label for="user_town" class="muted">City, State:</label>
    <input type="text" name="user_town" id="user_town" class="form-control" value="<%=data.user.user_town%>">
    <label for="user_bio" class="muted">Bio:</label>
    <textarea name="user_bio" id="user_bio" class="form-control" cols="100"><%=data.user.user_bio%></textarea>
    <input type="submit" value="UPDATE" class="btn btn-primary">
</form>
</div>