<% if (typeof alerts != 'undefined' && alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
        <div class="alert alert-danger logofont smaller"><%= msg %></div>
    <% }); %>
<% } %>
<% if (typeof alerts != 'undefined' && alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
        <div class="alert alert-info logofont smaller"><%= msg %></div>
    <% }); %>
<% } %>


<a target="_blank" alt="StackExchange Handbook" title="StackExchange Handbook"
   href="pdfs/StackExchange_Handbook.pdf">StackExchange Handbook</a>