<%//TODO: shuffle the navbar up a bit.  entries, then enhancers, then mod, then TOS.
//TODO: also, find a new background for the love of Night
//TODO: one last thing...update this to be collapsible/expandable/bigger on the inside plzkthxbai%>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
           <span class="logofont"> <a href="/#">GLADOIRE</a></span>
        </div>
        <ul class="nav navbar-nav">
            <li class="lead"><a href="/">HOME</a></li>
            <% if (typeof data.user != 'undefined') { %>
                <li class="lead"><a href="/auth/logout">Logout</a></li>
                <li class="lead"><a href="/protected2">PRIVATE</a></li>
            <% } %>
            <li class="lead"><a href="/privacy">Privacy Policy</a></li>
            <li class="lead"><a href="/terms">Terms of Service</a></li>
        </ul>

    </div>
    <%if (typeof data.user == 'undefined') {%>
        <a href="/auth/google/" class="top-right"><img src="/img/btn_google_signin_dark_normal_web.png"></a>
    <%}%>
</nav>