<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#">EXPRESS-GAUTH-TEST</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">HOME</a></li>
            <% if (typeof data.user != 'undefined') { %>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/protected2">PRIVATE</a></li>
            <% } else { %>
                <li><a href="/auth/google/">Signup Or Login with Google</a></li>

            <%}%>
        </ul>
    </div>
</nav>