


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
           <a href="/#" class="logofont smaller">Gladoire</a>
        </div>
        <ul class="nav navbar-nav logofont">
            <li class="logofont"><a href="/">HOME</a></li>
            <% if (typeof data.user != 'undefined') { %>

                <li class="logofont smaller"><a href="/auth/profile">PROFILE</a></li>
                <li class="logofont smaller"><a href="/entries/">SESSIONS</a></li>
                <li class="logofont smaller"><a href="/entries/new">NEW SESSION</a></li>
                <li class="logofont smaller"><a href="/categories/">SESSION ITEMS</a></li>
                <%if (data.user.user_level >= 3){%>
                <li class="logofont smaller"><a href="/posts/new">NEW POST</a></li>
            <%}%>
                <li class="logofont smaller"><a href="/auth/logout">LOGOUT</a></li>
            <% } %>
            <li class="logofont smaller"><a href="/privacy">Privacy Policy</a></li>
            <li class="logofont smaller"><a href="/terms">Terms of Service</a></li>
        </ul>

    </div>

</nav>
<%if (typeof data.user == 'undefined') {%>
    <a href="/auth/google/" class="top-right"><img src="/img/btn_google_signin_dark_normal_web.png"></a>
<%}%>