

<h1>Something seems to have gone wrong...</h1>

<% const images = ["https://harrywhite.org/wp-content/uploads/2017/11/52cdd46fcc6e5.image_-1.jpg",
    "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Macaca_sinica_-_01.jpg/399px-Macaca_sinica_-_01.jpg",
    "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Green_Vervet_monkey_...waiting_%2832410068853%29.jpg/800px-Green_Vervet_monkey_...waiting_%2832410068853%29.jpg"
] %>


<img src="<%=images[Math.floor(Math.random() * images.length)] %>" alt="Something seems to have gone wrong...">
