

<h1>Uh oh....</h1>

<% const images = ["https://media.giphy.com/media/12rTjvF0ANQJsk/source.gif",
    "https://media.giphy.com/media/3oz8xMbKLAkRLHYNgI/source.gif",
    "https://media.giphy.com/media/LoIkzayUv3GvosASne/source.gif",
    "https://i.gifer.com/GSDd.gif",
    "https://media.giphy.com/media/26ybvMCkSlJxlT2rS/source.gif",
    "https://tenor.com/N5V0.gif",
    "https://thumbs.gfycat.com/AccurateMediocreGordonsetter-small.gif"

] %>


<img src="<%=images[Math.floor(Math.random() * images.length)] %>" alt="Noooo0000000ooooooo!!!!!1!">
