<div style="width:60%;">

    <br />
    <br />
    <div style="font-weight: 600; color: darkgreen" id="EVERYONE" class="demo">
        Everyone can see this bit, which will display when there is something to display
    </div>
    <br />
    <% if (typeof data.user != 'undefined') { %>
        <div style="color: darkblue" id="AUTHONLY" class="demo"> <strong>Authenticated Users ONLY</strong></div>

    <%}%>
    <br />
    <% if (typeof data.user != 'undefined' && data.user.user_level > 3) { %>

        <div style="color: red;font-weight: bolder;" id="LEVEL3ONLY" class="demo"><h3>SECRET SQUIRREL STUFF</h3></div>

    <%}%>


</div>