<!DOCTYPE html>
<html>

<head>
    <title>Gladoire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    <script defer src="/js/moon.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/nadxgimw0tsrm4ad34ujfhbqdun3j2h8303tedqr0akg2c8d/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>




</head>

<body>
<header>
    <%- include("partials/nav") %>
</header>


<div>
<%- body %>
</div>
<div class="flash-alert">
    <%- include("partials/alerts") %>
</div>
<footer>

</footer>
</body>
</html>