@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    background: url('/img/paper3.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    box-sizing: border-box;

}
.dyno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rtwrapper {
    width: 80%;
    background-color:beige;
}

#editor {
    background-color: antiquewhite;
}

.logofont {
    font-family: 'Shadows Into Light', cursive;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.smaller {
    font-size: 24px;
}

big-input {
    position: relative;
    width: 90%;
}
.demo {
    border: 1px solid black;
}

nav{
    background-color: rgba(187, 233, 247, 0.4);

}

nav div {
    background-color: rgba(187, 233, 247, 0.4);
}



.flash-alert{
    position: fixed;
    bottom: 0;
    right: 0;
}

.top-right{
    position: fixed;
    top: 0;
    right: 0;
}

.form-wrapper{
    width: 40%;
    margin-left: 2%;
    background-color:tan;
    padding: 5px;
}

.tan {
    background-color:tan;
    margin-left: 20px;
    border-top-left-radius:10%;
    border-top-right-radius:5%;
    border-bottom-right-radius:20%;
    padding: 8px;
    margin-bottom: 8px;
}

.blue {
    background-color: rgba(187, 233, 247, 0.4);
    margin-left: 20px;
    border-top-left-radius:10%;
    border-top-right-radius:5%;
    border-bottom-right-radius:20%;
    border-bottom-left-radius: 1%;
    padding: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green {
    background-color:darkseagreen;
    margin-left: 20px;
    border-top-left-radius:10%;
    border-top-right-radius:5%;
    border-bottom-right-radius:20%;
    padding: 5px;
    margin-bottom: 8px;
}
.grn-header {
    background-color: palegreen;
    text-align: center;
    width: 20rem;
    border-radius: 15%;
}

input {
    margin-bottom: 5px;
}
textarea {
    margin-bottom: 5px;
}