<div style="width:60%;">

    <% if (typeof data.user != 'undefined' && data.user.user_level >= 5) { %>



        <form action="/mod/info?_method=PUT" method="POST" id="test">
            <input type="hidden" value="<%=data.item.id%>">
            <label for="doc_name">NAME: </label>
            <input type="text" name="doc_name" id="doc_name" class="big-input" size="50" minlength="6" value="<%=data.item.doc_name%>" required/>
            <br />
            <label for="doc_url">LINK: </label>
            <input type="text" name="doc_url" id="soc_url" class="big-input" size="50" minlength="6" value="<%=data.item.doc_url%>" required/>
            <br />
            <label for="doc_desc">DESCRIPTION: </label>
            <input type="text" name="doc_desc" id="doc_desc" class="big-input" size="50" minlength="6" value="<%=data.item.doc_desc%>" required/>
            <br />
            <input type="submit" class="btn btn-primary local-btn" value="UPDATE">

        </form>


    <%}%>
</div>

