<div style="width:60%;">

<% if (typeof data.user != 'undefined' && data.user.user_level >= 5) { %>
    <% data.items.forEach(function(item){ %>
        <div class="card" style="width:55rem;">
            <div class="card-body tan">
                <h3><a href="/mod/info/<%=item.id%>"><%=item.info_title %></a></h3>
                <p class="card-text"><%=item.info_summary%></p>
            </div>
        </div>
    <%})%>




<%}%>


</div>