

    <% if (typeof data.user != 'undefined' && data.user.user_level >= 5) { %>



    <form action="/mod/info" method="POST" id="test">
        <label for="doc_name">NAME: </label>
        <input type="text" name="doc_name" id="doc_name" class="big-input" size="50" minlength="6" required/>
        <br />
        <label for="doc_url">LINK: </label>
        <input type="text" name="doc_url" id="doc_url" class="big-input" size="50" minlength="6" required/>
        <br />
        <label for="doc_desc">DESCRIPTION: </label>
        <input type="text" name="doc_desc" id="doc_desc" class="big-input" size="50" minlength="6" required/>
        <br />
        <input type="submit" class="btn btn-primary local-btn" value="ADD">

    </form>

        <%}%>


