<div style="width:60%;">

    <% if (typeof data.user != 'undefined') { %>
        <% data.items.forEach(function(entry){ %>
        <div class="card" style="width:55rem;">
            <div class="card-body blue">
                <h2><%=`${entry.sess_title}, ${entry.sess_date}`%> </h2>
                <p class="card-text"><%=entry.sess_duration%> minutes</p>



            </div>
        </div>
        <%})%>




    <%}%>


</div>
