
<div class="blue">
    <script defer src="js/moon.js"></script>
    <% if (typeof data.user != 'undefined') { %>


        <form action="/entries" method="POST">
            <label for="sess_title">Session Title: </label>
            <input class="form-control" type="text" name="sess_title" id="sess_title" required>
            <br />
            <label for="sess_date">Session Date: </label>
            <input class="form-control" type="datetime-local" name="sess_date" id="sess_date" required>
            <br />
            <label for="sess_duration">Session Duration (minutes): </label>
            <input class="form-control" type="text" name="sess_duration" id="sess_duration" required>
            <br />
            <label for="sess_weather">Weather: </label>
            <input class="form-control" type="text" name="sess_weather" id="sess_weather">
            <br />
            <label for="sess_moon">Moon: </label>
            <input class="form-control" type="text" name="sess_moon" id="sess_moon" value="<%=`${data.moon[0].Moon[0]}, ${data.moon[0].Phase}`%>">
            <br />
            <label for="sess_moodpre">Mood Pre-Session</label>
            <select name="sess_moodpre" id="sess_moodpre" class="form-control">
                <option value="1">Lowest</option>
                <option value="2">Low</option>
                <option value="3">Blah</option>
                <option value="4">OK</option>
                <option value="5">Good</option>
                <option value="6">Great</option>
            </select>
            <br />
            <label for="sess_moodpost">Mood Post-Session</label>
            <select name="sess_moodpost" id="sess_moodpost" class="form-control">
                <option value="1">Lowest</option>
                <option value="2">Low</option>
                <option value="3">Blah</option>
                <option value="4">OK</option>
                <option value="5">Good</option>
                <option value="6">Great</option>
            </select>
            <br />
            <label for="sess_energypre">Energy Pre-Session</label>
            <select name="sess_energypre" id="sess_energypre" class="form-control">
                <option value="1">Burnt out</option>
                <option value="2">Run down</option>
                <option value="3">Blah</option>
                <option value="4">OK</option>
                <option value="5">Good</option>
                <option value="6">Great!</option>
            </select>
            <br />
            <label for="sess_energypost">Energy Pre-Session</label>
            <select name="sess_energypost" id="sess_energypost" class="form-control">
                <option value="1">Burnt out</option>
                <option value="2">Run down</option>
                <option value="3">Blah</option>
                <option value="4">OK</option>
                <option value="5">Good</option>
                <option value="6">Great!</option>
            </select>
            <br />
            <label for="session_items">Session Items: </label>
            <select multiple class="form-control" name="session_items" id="session_items" size="10">
                <%data.cats.forEach((category)=>{ %>
                <optgroup label="<%=category.cat_name%>">
                    <%category.items.forEach((item)=>{%>
                    <option value="<%=item.id%>"><%=item.itm_name%></option>
                    <%})%>
                </optgroup>
                <%})%>
            </select>
            <br />
            <label for="sess_note">Session Notes: </label>
            <textarea name="sess_note" id="sess_note" class="form-control" cols="100"></textarea>
            <script>
                tinymce.init({
                    selector: '#sess_note',
                    width: "100%",
                    height: "400px"
                });
            </script>


            <input type="submit" value="Add Entry" class="btn btn-primary btn-local">
        </form>
        <%}%>

</div>