<div style="width:60%;">

    <% if (typeof data.user != 'undefined') { %>



    <form action="/categories?_method=PUT" method="POST" id="test">
        <input type="hidden" name="id" value="<%=data.item.id%>">
        <label for="itm_name">NAME: </label>
        <input type="text" name="itm_name" id="itm_name" class="big-input" size="50" minlength="6" required/>
        <br />
        <label for="itm_desc">LINK: </label>
        <input type="text" name="itm_desc" id="itm_desc" class="big-input" size="50" minlength="6" required/>
        <br />

        <input type="submit" class="btn btn-primary local-btn" value="UPDATE">


    </form>


    <%}%>
</div>

