
<div class="blue">

    <% if (typeof data.user != 'undefined' && data.user.user_level >= 3) { %>


    <form action="/posts" method="POST">
        <label for="post_title">Post Title: </label>
        <input class="form-control" type="text" name="post_title" id="post_title" size="75">
        <br />
        <label for="post_note">Post: </label>
        <textarea name="post_note" id="post_note" class="form-control" cols="100" rows="12"></textarea>
        <script>
            tinymce.init({
                selector: '#post_note',
                classic: true,
                plugins: 'lists'
                toolbar: 'undo redo | styleselect | forecolor | bold italic | numlist bullist | alignleft aligncenter alignright alignjustify | outdent indent | link image | code'
            });
        </script>

        <input type="submit" value="Add Post" class="btn btn-primary btn-local">
    </form>
    <%}%>
</div>





